%h1 Login to Superheroes Essentials Store

- if current_session != nil
  %h2 #{current_session}

%form(action = "/login" method = "POST")
  Username
  %label
    %input(type="text" name="username")
    %p
    Password
    %label
      %input(type="password" name="password")
    %p
    %input(type="submit" text="submit" value="Login")
